{% extends 'base.html.twig' %}

{% block title %}Utilisateur – {{ app.user.username }}{% endblock %}
{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
{% endblock %}

{% block body %}
    {{ include('navbar.html.twig') }}

    <div class="container p-3 my-5">
        <div class="d-flex flex-column align-items-center text-center">
            {% if user.userImage %}
                <img src="/uploads/{{ user.userImage }}" alt="{{ user.username }}" class="rounded-circle mb-3" width="100" height="100">
            {% else %}
                <img src="{{ asset('images/placeholderAva.webp') }}" alt="Placeholder" class="rounded-circle mb-3" width="100" height="100">
            {% endif %}
            <div class="d-flex align-items-center">
                <h1 class="mb-0 me-2">{{ user.username }}</h1>
                {% if is_granted('USER_EDIT', user) %}
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-link p-0 text-secondary" aria-label="Modifier ce profil">
                        <i class="bi bi-pencil-fill fs-4 transition"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
            {% for post in pagination %}
                <div class="col">
                    <div class="card shadow-lg h-100">
                        <div class="ratio ratio-1x1">
                        <img src="/uploads/{{ post.imageUrl }}" class="card-img-top object-fit-cover" alt="post image">
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ post.content|slice(0, 100) ~ (post.content|length > 100 ? '...' : '') }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#" type="button" class="btn btn-sm btn-outline-secondary">Like</a>
                                    <a href="{{ path('app_post_crud_show', {'id': post.id} ) }}" type="button" class="btn btn-sm btn-outline-secondary">Lire la suite</a>
                                </div>
                                <small class="text-body-secondary">{{ post.createdAt|date('d M Y - H:i') }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Aucun post trouvé pour cet utilisateur.</p>
            {% endfor %}
        </div>
    </div>

    <div class="navigation d-flex justify-content-center mt-4">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}