{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {{ include('navbar.html.twig') }}
    <div class="container p-3 m-5">
        <form method="post" class="form-control g-3" enctype="multipart/form-data">
        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que <strong>{{ app.user.userName }}</strong><br>
                <a href="{{ path('app_logout') }}" class="btn btn-sm btn-danger mt-3">Déconnecter</a>
            </div>
        {% else %}
            <ul class="nav nav-tabs mb-3">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">Connecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('app_registration') }}">S'inscrire</a>
                </li>
            </ul>
            <h1 class="h3 mb-3 font-weight-normal">Veuillez vous inscrire</h1>
            {{ form_start(registrationForm) }}
            <div class="form-group">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control mb-3'}}) }}
                {{ form_errors(registrationForm.email) }}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.password, 'Mot de passe') }}
                {{ form_widget(registrationForm.password, {'attr': {'class': 'form-control mb-3'}}) }}
                {{ form_errors(registrationForm.password) }}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.userImage, 'Votre photo') }}
                {{ form_widget(registrationForm.userImage, {'attr': {'class': 'form-control mb-3'}}) }}
                {{ form_errors(registrationForm.userImage) }}
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.username, 'Votre nom') }}
                {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control mb-3'}}) }}
                {{ form_errors(registrationForm.username) }}
            </div>
            <button type="submit" class="btn btn-dark mt-3 mb-3">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </form>
        {% endif %}
    </div>
{% endblock %}